body {
  background-color: #1e1b23;
  font-family: "Ubuntu Mono", monospace;
  
  display: flex;
  position: relative;
  max-width: 800px;
  margin: auto;
}

@keyframes pulsing {
  0%  {opacity: 1;}
  50% {opacity: 0;}
  100%{opacity: 1;}
}
/* @keyframes hiding {
  0%  {opacity: 1;}
  100% {opacity: 0;}
} */

#paused {
  margin: 0;
  color: white;
  font-size: 7vw;
  text-align: center;
  padding: 50px;
  max-width: 580px;
  width: 75vw;
  display: block;
  box-sizing: border-box;
  opacity: 1;
  visibility: visible;
  animation: pulsing 1.5s ease-in-out infinite;
  cursor: pointer;
}
#bg {
    position: absolute;
    margin: 70px 108px;
    opacity: 0;
}

#in {
    position: absolute;
    transform: translate(216px, 450px);
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    opacity: 0;
}
#arkanoid {
    position: relative;
    margin-bottom: -15px;
}
#in p {
    margin: auto 0;
}

#screen {
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: 1;
}
#recap {
  margin: auto;
  z-index: 10;

}
#score {
  color: #fff;
  font-size: 52px;
  text-align: left;
  position: absolute;
  text-align: center;
  width: 100%;
}